/* Declara las fuentes en tu CSS */
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
  
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
  
:root {
    --color-dark: #212529;
    --color-brand: #4e57d4;
    --color-brand-light: #6970dd;
    --color-brand-rgb: 78,87,212;
    --color-body: #727272;
    --color-hover-gradient-start: rgba(255, 255, 255, 0.3); /* Blanco semitransparente */
    --color-hover-gradient-end: rgba(38, 100, 230, 0.7); /* Azul semitransparente */
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s ease-in-out;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.iconbox {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-brand-rgb), 0.1);
    color: var(--color-brand);
    font-size: 34px;
    flex: none;
}

/* Estilos específicos para el componente de Portafolio */
#portafolio .image-zoom {
    position: relative;
    overflow: hidden;
}

#portafolio .image-zoom-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#portafolio .image-zoom-wrapper img {
    transition: var(--transition);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegurará que la imagen se adapte al contenedor */
    border-radius: 8px;
}

#portafolio .image-zoom-wrapper .image-adjusted {
    height: 280px;
}

#portafolio .image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

#portafolio .portafolio-item .iconbox {
    background-color: var(--color-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#portafolio .portafolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* Estilos generales */
.portafolio-item {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Imagen de portafolio */
.img-portafolio {
    width: 100%;
    height: 625px;
    display: block;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,var(--color-hover-gradient-end), var(--color-hover-gradient-start)); /* Degradado semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-link{
    text-decoration: none;
}

.text-link:hover{
    text-decoration: none;
}

/* Texto dentro del overlay */
.overlay-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

/* Efecto de hover */
.portafolio-item:hover .overlay {
    opacity: 1;
}

.portafolio-item:hover .overlay-text {
    opacity: 1;
    transform: translateY(0);
}

/* Clase específica para videos de portafolio */
.portafolio-video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 274px; /* Aumenta la altura a lo que desees */
    margin-top: 30px;
}

.portafolio-video {
    width: 100%;
    height: 100%; /* Asegura que el video ocupe todo el contenedor */
    object-fit: cover; /* Cambia a cover para que se adapte mejor */
    border-radius: 8px;
}

/* Overlay para video */
.overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--color-hover-gradient-end), var(--color-hover-gradient-start));
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portafolio-item:hover .overlay-video {
    opacity: 1;
}

