/* Declara las fuentes en tu CSS */
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
:root{
    --color-dark: #212529;
    --color-brand: #4e57d4;
    --color-brand-light: #6970dd;
    --color-brand-rgb: 78,87,212;
    --color-body:#727272;
    --font-base:"ClashDisplay", sans-serif;
    --box-shadow:0px 15px 25px rgb(0,0,0,0.08);
    --transition: all 0.3s ease-in-out;
}
.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.perfil-image{
    width: 100px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

.review-head{
    position: relative;

}

.review-head::after{
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

.review small{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-brand);
}

.review-person h5 a{
  text-decoration: none;
  color: #212529;
}