@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
:root {
  --color-brand: #4e57d4;
  --color-brand-light: #6970dd;
  --color-brand-rgb: 78,87,212;
  --color-dark: #212529;
  --color-body: #727272;
  --transition: all 0.5s ease;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

#faqs {
  font-family: "Benzin", sans-serif;
}

.faq-item {
  background-color: rgba(var(--color-brand-rgb), 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: var(--transition);
}

.faq-item:hover {
  background-color: rgba(var(--color-brand-rgb), 0.2);
}

.faq-item.active .faq-answer {
  max-height: 200px;
  opacity: 1;
  margin-top: 15px;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-dark);
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  font-size: 15px;
  color: var(--color-body);
}

.section-title h1 {
  font-family: 'Benzin';
  font-weight: 800;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--color-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Benzin';
  font-size: 15px;
}
