/* General */
.img-trabajo {
    width: 100%;
    height: auto;
    object-fit: cover; /* Para que la imagen se ajuste bien al contenedor */
}

/* Ajuste para desktop */
.image-zoom-wrapper{
    height: 350px;
}
.portada{
    height: 500px;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
    .image-zoom-wrapper {
        height: auto !important; /* Altura automática para móviles */
        overflow: hidden; /* Evitar desbordamiento */
    }

    .col-md-6 {
        width: 100%; /* Para que cada imagen ocupe el 100% del ancho en móviles */
        margin-bottom: 20px; /* Espacio entre las imágenes */
    }

    .col-md-12 {
        width: 100%;
    }
}


  